<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.content {
    width: 80%;
    margin: 0 auto;
}

h2, p {
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #444;
}
</style>

<div class="content">
    <h2>Tickers in the database:</h2>
    {% for ticker in tickers %}
        <p>{{ ticker }}; average open price: {{ ticker.average_open|floatformat:2 }}, average close price: {{ ticker.average_close|floatformat:2 }}, min open price: {{ ticker.min_open|floatformat:2 }}, max close price: {{ ticker.max_close|floatformat:2 }}</p>
    {% endfor %}

    <h2>Enter the ticker to view data:</h2>
    <form accept="{% url 'view_data' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="ticker_input" class="input-field">
        <button type="submit" class="submit-button">Submit</button>
    </form>

    <h2>API data:</h2>
    <p>{{ entered_ticker }}</p>
    <p>Average open price: {{ average_open_dsp|floatformat:2 }}</p>
    <p>Average close price: {{ average_close_dsp|floatformat:2 }}</p>
    <p>Min open price: {{ min_open_dsp|floatformat:2 }}</p>
    <p>Max close price: {{ max_close_dsp|floatformat:2 }}</p>

    {% for entry_open in data_open_close %}
        <p>date: {{ entry_open.0 }} - open: {{ entry_open.1 }} - close: {{ entry_open.2 }}</p>
    {% endfor %}
</div>